<!DOCTYPE html>
<html lang="en">
<head>
<%-include('partials/head')%>
</head>

<body>
    <div class="container">
        <%-include('partials/navbar')%>
        <div class="card mt-3">
            <div class="card-header">
                <h2>Registro</h2>
            </div>
            <!--Fin card-header-->
            <form id="mi_formulario" method="POST" action="registrarse" enctype="multipart/form-data">
                <div class="card-body">

                    <div class="row mt-3">
                        <p class="h3">Datos personales</p>
                    </div>
                    <!--Fin primer separador-->
                    <div class="row mt-3">
                        <div class="col-md-4 col-xs-12">
                            <label class="form-label" for="nombre_us">Ingrese nombre</label>
                            <input type="text" value="facundo" class="form-control" name="nombre" id="nombre_us" placeholder="Ej: Cristian">
                        </div>

                        <div class="col-md-4 col-xs-12">
                            <label class="form-label" for="apellido_us">Ingrese apellido</label>
                            <input type="text" value="sergio" class="form-control" name="apellido" id="apellido_us" placeholder="Ej: Gonzales">
                        </div>

                        <div class="col-md-4 col-xs-12">
                            <label class="form-label" for="fecha_nac">Fecha de nacimiento</label>
                            <input type="date" value="1994-11-14" class="form-control" name="fecha_nac" id="fecha_nac">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4 col-xs-12">
                            <label class="form-label" for="imagen">Foto para tu perfil</label>
                            <input type="file" class="form-control" id="imagen" name="image">
                        </div>
                    </div><!--Fin de row imagen-->
                    <div class="row mt-3">
                        <p class="h3">Datos sesión</p>
                    </div>
                    <!--Fin segundo separador-->
                    <div class="row mt-3">

                        <div class="col-md-6 col-xs-12">
                            <label class="form-label" for="email_usuario">Ingrese un email</label>
                            <input type="email" class="form-control" id="email_usuario" name="email" placeholder="Ej:pepe@xxx.com" value="facu11ja@gmail.com" >
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <label class="form-label" for="password_usuario">Ingrese una contraseña</label>
                            <input type="password" value="1234" class="form-control" id="" name="password"
                                placeholder="Minimo dos una minuscula mayuscula y letras">
                        </div>

                    </div>
                    <!--Fin row email y contraseña-->
                    <div class="row mt-3">
                        <h4>Datos académicos</h4>
                    </div>
                    <!--Fin tercer separador-->

                    <div class="row mt-3" >
                        <div class="col-md-4 col-xs-12" >
                            <label class="form-label" for="carrera0">Nombre de carrera:</label>
                            <input type="text" class="form-control" id="carrera0" name="carrera0" value="TECNICATURA EN SOFTWARE"
                                placeholder="Ejemplo:Tecnicatura en sistemas">
                        </div>
                        <!--Fin campo nombre carrera-->
                        <div class="col-md-4 col-xs-12">
                            <label class="form-label" for="universidad">Universidad</label>
                            <input  class="form-control" type="text" name="universidad" value="UPE">
                        </div>
                    </div>
                    <div class="row" id="rowCarreras">
                        <div class="col-md-4 col-xs-12" id="divCarrera">

                        </div>
                        <div class="col-md-4 col-xs-12" id="divUniversidad">

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4 col-xs-12">
                            <button type="button" class="btn btn-labeled btn-dark" id="addCarrera">
                                <span class="btn-label"><i class="fa fa-plus-circle" aria-hidden="true"></i></span> Agregar</button>
                        </div>
                    </div>
                     <!--Fin de universidad-->
                    <!--row general-->
                    <div class="row mt-3">
                        <div class="col-md-12 col-xs-12">
                            <label for="html">Tenés o tuviste experiencia laboral relacionada a tu formación academica?</label>
                        </div>
                    </div>
                    <!--Fin de pregunta academica-->
                    <div class="row mt-3">
                        <div class="col-md-3 col-xs-12">
                            <label class="form-label" for="SI">SI</label>
                            <input type="radio" id="SI"  checked="checked" >
                            <label class="form-label ms-3" for="NO">NO</label>
                            <input type="radio" id="NO" >
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 col-xs-12">
                            <label for="oficio" class="form-label">Ingrese Experencia laboral</label>
                            <input type="text" class="form-control" value="programador web" name="oficio" id="oficio" >
                        </div>
                    </div>
                    <!--Row de RadioS-->
                </div>
                <!--Fin card-body-->
                <div class="card-footer">
                    <div class="col-sm-1 offset-sm-11 col-xs-1">
                        <!--El offset corre hacia el lado contrario el elemento-->
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                    <!--Fin row boton-->
                </div>
                <!--Fin card-footer-->
            </form>
        </div>
        <!--fin card general-->

    </div>
    <!--Supuesto fin container-->
   <!--<menu-footer></menu-footer>--> 
   <script src="js/form_registro.js"></script>
</body>

</html>