<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head')%>
<body>
  <div class="container mt-5">
    <%-include('partials/navbar')%>
    <div class="card  mb-5 bg-body rounded mt-2">
      <div class="card-header">
        Nueva publicacion
      </div>
      <div class="card-body">
        <form method="POST" action="crearpublicacion">
          <div class="row">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Titulo (profesion)</label>
              <input type="text" class="form-control" id="titulo"  value="programador web" name="titulo" placeholder="Ej: programador web">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Empresa</label>
              <input type="text" class="form-control" value="google" id="empresa" name="empresa">
            </div>
          </div><!--fin row titulo y empresa-->
          <div class="row mt-2">
            <!--<div class="col-md-6">
              <label for="inputPassword4" class="form-label">Nombre de la carrera que estudiaste</label>
              <input type="text" class="form-control" id="inputEmpresa">
            </div>-->
            <div class="col-md-6">
              <label for="grado_carreras" class="form-label">A que carrera de la UPE va orientada la publicacion</label>
              <select class="form-select" aria-label="Default select example" name="carrera"  id="carrera">
                <% for(let i=0;i<carreras.length;i++) { %>
                <option value="<%=carreras[i].ID_CAR_UPE%>"><%=carreras[i].NOMBRE%></option>
                <% } %>
              </select>
            </div>
          </div><!--fin row nombre carrera etc-->
          <div class="row mt-2">
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Cuerpo de la publicacion</label>
              <textarea type="text" class="form-control"  id="cuerpo" name="cuerpo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt illo pariatur corrupti, vero beatae doloremque ad quae atque totam molestias dicta quo, officiis earum ipsum id, dolor aliquam possimus minima?</textarea>
            </div>
          </div><!--fin text area-->
          
          <div class="row mt-2">
            <div class="col-md-6">
              <label for="estado" class="form-label">Desea publicar o guardar en borrador?</label>
              <select name="estado" id="estado" class="form-select">
                <option value="publicada">Publicar</option>
                <option value="borrador">Guardar en borrador</option>
              </select>
            </div>
          </div>
      </div><!--fin card-body-->
      <div class="card-footer">
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Publicar</button>
          </div>
        </div>
      </div>
    </div><!--fin card general-->
  </form>
  </div><!--fin container-->

</body>

</html>