<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    <div class="container">
        <%- include('partials/navbar'); %>
        <div class="row mt-3">
            <div class="col-lg-6 offset-lg-2  offset-md-2 col-md-5 col-xs-10 col-sm-10 mt-2 ">
                <input class="form-control me-2" type="search" placeholder="Buscar publicación por oficio"
                    aria-label="Search">
            </div>
            <div class="col-lg-4 col-md-5 col-xs-2 col-sm-2 mt-2 "><button class="btn btn-outline-success"
                    type="submit">Buscar</button></div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4 col-md-5 col-xs-12 col-sm-12 mt-2 ">
                <a href=""><img src="img/Comercio-internacional.jpg" class="rounded" width="90%" height="80"
                        alt=""></a>
            </div>

            <div class="col-lg-4 col-md-5 col-xs-12 col-sm-12 mt-2 ">
                <a href=""><img src="img/Gestión-areoportuaria.jpg" class="rounded" width="90%" height="80"
                        alt=""></a>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-12 col-sm-12 mt-2 ">
                <a href=""><img src="img/Logística.jpg" class="rounded" width="90%" height="80" alt=""></a>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-12 col-sm-12 mt-2 ">
                <a href=""><img src="img/Turismo.jpg" class="rounded" width="90%" height="80" alt=""></a>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-12 col-sm-12 mt-2 ">
                <a href=""><img src="img/Desarrollo-de-software.jpg" class="rounded" width="90%" height="80"
                        alt=""></a>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-12 col-sm-12 mt-2 ">
                <a href=""><img src="img/Higiene-y-Seguridad.jpg" class="rounded" width="90%" height="80"
                        alt=""></a>
            </div>
        </div>

        <div class="row mt-4">
            <!--comienza tarjeta-->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card border border-3 border-dark mb-3 tarjetas cardLogistica" style="max-width: 18rem;">
                    <div class="card-header text-center">
                        <img src="img/ruth.jpg" width="60" height="60" height="80" alt="">
                        <p class="h4 text-light">Ruth iascas</p>
                    </div>
                    <div class="card-body text-primary">
                        <p class="h3 text-light">Supervisor de Logistica</p>
                        <p class="text-light ">Hola soy Ruth Iascas trabajo como supervisor de logistica hace varios
                            años...
                        </p>
                        <a href="./publicacion.html" class="text-light">Ver publicación Completa</a>
                    </div>
                </div>
            </div>
            <!--fin de tarjeta-->
            <!--comienza tarjeta-->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card border border-3 border-dark mb-3 tarjetas cardSoftware">
                    <div class="card-header text-center">
                        <img class="rounded" src="img/garrido.jfif" width="60" height="60" height="80" alt="">
                        <p class="h4 text-light">Nicolas Garrido</p>
                    </div>
                    <div class="card-body text-primary">
                        <p class="h3 text-white">Ingeniero De software</p>
                        <p class="text-light ">Hola ¿Como estan? soy Nicolas Garrido trabajo como ingeniero de software...
                            
                        </p>
                        <a href="./publicacion.html" class="text-light">Ver publicación Completa</a>
                    </div>
                </div>
            </div>
            <!--fin de tarjeta-->
            <!--comienza tarjeta-->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card border border-3 border-dark mb-3  tarjetas cardComercio">
                    <div class="card-header text-center">
                        <img class="rounded" src="img/Comerciante.jpg" width="60" height="60" height="80" alt="">
                        <p class="h4 text-light">Sebastian Lopez</p>
                    </div>
                    <div class="card-body text-primary">
                        <p class="h3 text-light">Comerciante</p>
                        <p class="text-light ">Buenas mi nombre es sebastian lopez egresado de comercio internacional en
                            la
                            upe actualmente trabajo como...

                        </p>
                        <a href="./publicacion.html" class="text-light">Ver publicación Completa</a>
                    </div>
                </div>
            </div>
            <!--fin de tarjeta-->
            <!--comienza tarjeta-->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
                <div class="card border border-3 border-dark mb-3  tarjetas cardHigiene ">
                    <div class="card-header text-center">
                        <img src="img/AndresRoldan.png" class="rounded" width="60" height="60" height="80" alt="">
                        <p class="h4 text-light">Andres Roldan</p>
                    </div>
                    <div class="card-body text-primary">
                        <p class="h3 text-light">Analista de Seguridad y Higiene</p>
                        <p class="text-light ">Buenas soy Andres Roldan estudie seguridad y higiene en la upe y
                            actualmente
                            trabajo como...
                        </p>
                        <a href="./publicacion.html" class="text-light">Ver publicación Completa</a>
                    </div>
                </div>
            </div>
            <!--fin de tarjeta-->
        </div>
        <div class="row mt-4">
            <!--comienza tarjeta-->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card border border-3 border-dark mb-3 tarjetas cardLogistica" style="max-width: 18rem;">
                    <div class="card-header text-center">
                        <img src="img/ruth.jpg" width="60" height="60" height="80" alt="">
                        <p class="h4 text-light">Ruth iascas</p>
                    </div>
                    <div class="card-body text-primary">
                        <p class="h3 text-light">Supervisor de Logistica</p>
                        <p class="text-light ">Hola soy Ruth Iascas trabajo como supervisor de logistica hace varios
                            años...
                        </p>
                        <a href="./publicacion.html" class="text-light">Ver publicación Completa</a>
                    </div>
                </div>
            </div>
            <!--fin de tarjeta-->
            <!--comienza tarjeta-->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card border border-3 border-dark mb-3 tarjetas cardSoftware">
                    <div class="card-header text-center">
                        <img class="rounded" src="img/garrido.jfif" width="60" height="60" height="80" alt="">
                        <p class="h4 text-light">Nicolas Garrido</p>
                    </div>
                    <div class="card-body text-primary">
                        <p class="h3 text-white">Ingeniero De software</p>
                        <p class="text-light ">Hola ¿Como estan? soy Nicolas Garrido trabajo como ingeniero de software...
                    
                        </p>
                        <a href="./publicacion.html" class="text-light">Ver publicación Completa</a>
                    </div>
                </div>
            </div>
            <!--fin de tarjeta-->
            <!--comienza tarjeta-->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card border border-3 border-dark mb-3  tarjetas cardComercio">
                    <div class="card-header text-center">
                        <img class="rounded" src="img/Comerciante.jpg" width="60" height="60" height="80" alt="">
                        <p class="h4 text-light">Sebastian Lopez</p>
                    </div>
                    <div class="card-body text-primary">
                        <p class="h3 text-light">Comerciante</p>
                        <p class="text-light ">Buenas mi nombre es sebastian lopez egrasado de comercio internacional en
                            la
                            upe actualmente trabajo como...

                        </p>
                        <a href="./publicacion.html" class="text-light">Ver publicación Completa</a>
                    </div>
                </div>
            </div>
            <!--fin de tarjeta-->
            <!--comienza tarjeta-->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
                <div class="card border border-3 border-dark mb-3  tarjetas cardHigiene ">
                    <div class="card-header text-center">
                        <img src="img/AndresRoldan.png" class="rounded" width="60" height="60" height="80" alt="">
                        <p class="h4 text-light">Andres Roldan</p>
                    </div>
                    <div class="card-body text-primary">
                        <p class="h3 text-light">Analista de Seguridad y Higiene</p>
                        <p class="text-light ">Buenas soy Andres Roldan estudie seguridad y higiene en la upe y
                            actualmente
                            trabajo como...
                        </p>
                        <a href="./publicacion.html" class="text-light">Ver publicación Completa</a>
                    </div>
                </div>
            </div>
            <!--fin de tarjeta-->
        </div>

    </div><!-- container -->

    
</body>

</html>