<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <div class="container">
        <%- include('partials/navbar') %>
        <div class="row gutters-sm mt-5">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="img/ruth.jpg" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>Ruth iascas</h4>
                                <p class="text-secondary mb-1"></p>
                                <p class="text-muted font-size-sm">Supervisor de Logistica</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nombre completo</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Ruth iascas
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                ruth@gmail.com
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">fecha de nacimiento</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                31/11/1994
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Datos academicos</h6>
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nombre de la carrera</h6>
                            </div>
                            <div class="col-sm-3">
                                <h6 >Grado de la carrera</h6>
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0">Estado de la carrera</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 offset-sm-3 text-secondary">
                                Logistica
                            </div>
                            <div class="col-sm-3 text-secondary">
                                Postgrado
                            </div>
                            <div class="col-sm-3  text-secondary">
                                Finalizada
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " target="__blank"
                                    href="./editar_perfil.html">Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>