<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    <div class="container">
        <%- include('partials/navbar'); %>
        <%- include('partials/searcher'); %>
        <%- include('partials/tarjeta'); %>
       
        <script src="js/index.js"></script>

    </div>
</body>
</html>